<h2>About Me</h2>
<p>Busco conhecimento com dedição e proatividade.
   Trabalhei alguns anos com suprimentos, logística e contabilidade.
   Sou técnico em Automação Industrial e foco formação na computação.
</p>

<h2>Contact</h2>
<p><span class="fa fa-envelope fa-lg main-list-item-icon"></span>
  gabrielpadov@gmail.com
</p>

<h2>Interests</h2>
<ul>
  <li>Computadores</li>
  <li>Engenharia de Software</li>
  <li>Linguagens de programação</li>
  <li>Futebol</li>
  <li>Música</li>
  <li>Literatura</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-home fa-lg main-list-item-icon"></span>
    <a target="_blank" href="">Home</a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://github.com/gabrielpadov">GitHub</a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://www.linkedin.com/in/gabrielpadovani">Linkedin</a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://twitter.com/gpadov">Twitter</a>
  </li>
</ul>
