<h2>About Me</h2>
<p>Busco conhecimento com dedição e proatividade. Sou técnico em Automação Industrial e foco na formação em computação. 
  Trabalhei alguns anos com suprimentos, logística e contabilidade.
  Atualmente, dedicado ao desenvolvimento de softwares e sistemas com as tecnologias Node, React, MongoDB e JavaScript. 
</p>

<h2>Job</h2>
<p><span class="fa fa-briefcase fa-lg main-list-item-icon"></span>
  Full Stack developer intern at Tamborine Tecnologia
</p>

<h2>Contact</h2>
<p><span class="fa fa-envelope fa-lg main-list-item-icon"></span>
  gabrielpadov@gmail.com
</p>

<h2>Interests</h2>
<ul>
  <li>Desenvolvimento de Software</li>
  <li>Linguagens de programação</li>
  <li>Futebol</li>
  <li>Música</li>
  <li>Literatura</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-home fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://app-padovani.herokuapp.com/">Home & Blog </a> 
    
      <img class="construction" src="../images/icons8-guindaste-48.png" > 
    
  </a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://github.com/gabrielpadov">Code</a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://www.linkedin.com/in/gabrielpadovani">Networking</a>
  </li>
  
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a target="_blank" href="https://twitter.com/gpadov">Talk</a>
  </li>
</ul>
